body {
   background-color: #2e88e2;
   margin-top: 10rem;
}

/* General app container */
.app-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 1.5rem;
    border: rgb(74, 74, 84) solid 3px;
}
.search-results-list li{
    font-family: Arial, sans-serif;
    margin-left: 2rem;
    font-size: 1rem;
    padding: 0;
}


/* Responsive */
@media (max-width: 480px) {
    .app-container {
        padding: 0.5rem;
    }
    
}